<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css" />
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page">
       <div data-role="header">           
           <h1>CatchCam</h1>
       </div>

       <div data-role="content" >
        <div align="center">
            <img width="100%" src="/static/img/drone2.jpg">
        </div>

        <ul data-role="listview" style="margin-top: 5%;">
           <li><a href="/userControl/">User Control</a></li>
           <li><a href="/ballTracking/">Ball Tracking</a></li>
           <li><a href="/faceTracking/">Face Tracking</a></li>
           <li><a href="/help/">Help</a></li>
        </ul>
       </div>
    </div>
</body>
</html>